.u-responsiveGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.u-responsiveFlexbox {
  display: flex;
  flex-wrap: wrap;
  &>* {
    flex: 1 1 200px;
  }
}

.shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.whatsapp-icon {
  position: fixed;
  top: 80%;
  right: 2%;
  z-index: 9999;
  img {
    width: 4rem;
  }
}

.text-center {
  text-align: center;
}