/* ********** Custom Properties ********** */

@import "https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap";
:root {
  --mainFont: 'Comfortaa';
  --alternateFont: cursive;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;
  --fontSizeHeading: 2.5rem;
  --fontSize: 1rem;
  --fontSizeParagrap: 1rem;
  --fontSizeTitle: 1.875rem;
  --fontSizeSubTitle: 1.125rem;
  --lineHeightHeading: 3.0625rem;
  --lineHeight: 1.6;
  --white: #FFFFFF;
  --black: #000000;
  --mainColor: #00cda9;
  --main-color-hover: #00ffd0;
  --secondColor: #e7045d;
  --second-color-hover: #fc1d76;
  --alternateColor: #1D2540;
  --alternateColorTwo: #283358;
  --text-color: #242424;
  --title-color: var(--mainColor);
  --link-color: var(--second-color);
  --link-hover-color: var(--alternate-color);
  --textColor: var(--black);
}


/* ********** Variables ********** */

$breakpoints: ( xs: 30em,
/* 480 / 16  */

s: 36em,
/* 600 / 16  */

m: 48em,
/* 720 / 16 */

l: 62em,
/* 1024 / 16 */

xl: 75em
/* 1200/ 16 */

);