.btn {
  background: radial-gradient(46.54% 32.5% at 48.92% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #F5E9AE -8.33%, #F8C81B 60.02%, #FFE983 119.49%);
  border: 1px solid #FFC555;
  box-sizing: border-box;
  border-radius: 14px;
  text-transform: uppercase;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  box-shadow: 0 7px 5px var(--secondColor);
  color: var(--mainColor);
  
}