.footer {
  padding: 1rem 0;
  background-color: $mainColor;
  @include mq(l) {
    padding: 2rem;
  }
  &__copy {
    padding-top: 1rem;
    color: $secondColor;
    text-align: center;
  }
}